# Database
DB_USER=orderflow
DB_PASSWORD=orderflow123
DB_NAME=orderflow
DB_PORT=5432
DB_HOST=localhost

# App
APP_PORT=abcd

# Auth
JWT_SECRET=ganti_dengan_secret_acak_minimal_32_karakter
SEED_KASIR_EMAIL=kasir@orderflow.com
SEED_KASIR_PASSWORD=password123
SEED_PEMASAK_EMAIL=pemasak@orderflow.com
SEED_PEMASAK_PASSWORD=password123